{% extends 'blog/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <article class="post">
                {% if post.published_date %}
                <time class="date">
                    {{ post.published_date }}
                </time>
                    {% endif %}
                    <h2>{{ post.title }}</h2>
                    <p>{{ post.text|linebreaksbr }}</p>
                <aside class="actions">
                    {% if user.is_authenticated %}
                    <a class="btn btn-secondary"
                        href="{% url 'post_edit' pk=post.pk %}">
                    {% include './icons/pencil-fill.svg' %} Modifica</a>
                    {% endif %}                
                </aside>
                <div class="col-lg-6">
                    {% if post.img %}
                            <img src= "{{ post.img.url }}"alt="Post Thumbnail" class="w-100">
                        {% else %}
                            <img src="/static/img/post-2.jpg" alt="Post Thumbnail" class="w-100">
                    {% endif %}
                </div>
            
            </article>
        </div>
    </div>
</div>
{% endblock %}